#container{
	width: 929px;
	height: 422px;
	margin: 100px auto;
	/*overflow: hidden;*/
	// border: 5px solid #fff;
	padding-bottom:50px;
	margin-bottom: 0;
	position: relative;
}

#container>img{
	/*height: 270px;*/
	position: absolute;
	display: none;
	transition: all .35s linear;
}

#container button{
	width: 45px;
	height: 45px;
	border: none;
	position: absolute;
	top: calc(50% - 22.5px);
	cursor: pointer;
	z-index: 99;
	display: block;
}

#left{
	background: url(../images/btn_l.png) no-repeat 0 0;
}

#right{
	background: url(../images/btn_r.png) no-repeat 0 0;
	right: 0px;
}

.no1{
	height:360px;
	opacity:0.2;
	z-index: 0;
	left: 0;
	top: 40px;
}

.no2{
	height: 380px;
	opacity: 0.5;
	z-index: 1;
	left: 30px;
	top: 30px;
}

.no3{
	height: 400px;
	opacity: 0.8;
	z-index: 2;
	left: 60px;
	top: 20px;
}

.no4{
	height: 422px;
	opacity: 1;
	z-index: 3;
	left: 90px;
	top:10px;
}

.no5{
	height: 400px;
	opacity: 0.8;
	z-index: 2;
	left: 160px;
	top: 20px;
}

.no6{
	height: 380px;
	opacity: 0.5;
	z-index: 1;
	left: 230px;
	top: 30px;
}

.no7{
	height: 360px;
	opacity: 0.2;
	z-index: 0;
	left: 290px;
	top: 40px;
}
